body{
	padding-left: 100px;
	padding-right: 100px;

}


h3{
color: #341a33;
font-size: 40pt;
text-align: left;
}
p{
color: #ad6163;
text-align: center;

}
a:link{
	color: #341a33;
	font-weight: normal;
	text-decoration-line: none;
}
a:hover{
	font-weight: bold;

}
a:active{
	color: #ffffff;
	background-color: #ad6163;
	font-weight: bold;
	text-decoration-line: none;
}
a:visited{
	color: #341a33;
}